<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加入库</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
</head>
<body>
<form id="form" method="post">
    <div class="form-inline" style="margin-top: 5%">
        <div class="form-group col-md-2 col-md-offset-1">
            <label for="exampleInputName2">日期</label>
            <input type="text" class="form-control" id="ware_date" value={{ cur_day }} placeholder={{ cur_day }}>
        </div>
        <div class="form-group col-md-2 col-md-offset-4">
            <label for="exampleInputEmail2">供货商</label>
            <input type="text" class="form-control" id="provider" placeholder="请输入供货商">
        </div>
        <button class="form-group col-md-1 col-md-offset-1 btn btn-success" id="btn_submit" type="button">
            提交
        </button>
        <input class="form-group btn btn-info" id="btn_addtr" value="添加" type="button">
    </div>

    <div class="table-responsive col-md-10 col-md-offset-1" style="margin-top: 10px">
        <table class="table table-bordered" id="dynamicTable">
            <tbody>
            <tr>
                <th>型号</th>
                <th>规格</th>
                <th>单价</th>
                <th>数量</th>
                <th>操作</th>
            </tr>
            <tr>
                <th>
                    <select data-placeholder="选择项目..." class="form-control" name="flange_model"
                            required="required">
                        <option value="">请选择型号</option>
                        {% for item in flanges %}
                            <option>{{ item.flange_specifications }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th><input type="text" class="form-control" name="varieties" placeholder="输入规格"></th>
                <th><input type="text" class="form-control" name="single_price" placeholder="输入单价"></th>
                <th><input type="text" class="form-control" name="nums" placeholder="输入数量"></th>
                <th>
                    <input type="button" class="btn btn-warning" value="删除" onclick="del(this)">
                </th>
            </tr>
            </tbody>
        </table>
    </div>
</form>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.3/jquery.js"></script>
<script type="text/javascript">
    var count = 1;
    $(function () {
        var show_count = 100;
        $("#btn_addtr").click(function () {
            var length = $("#dynamicTable tbody tr").length;
            if (length < show_count) {
                count = count + 1;
                var tableHtml = "";
                tableHtml += "<tr><th>" +
                    "<select data-placeholder=\"选择项目...\" class=\"form-control\" name=\"flange_model\" required=\"required\">" +
                    "<option value=\"\">请选择型号</option>" +
                    "{% for item in flanges %}"+
                        "<option>{{ item.flange_specifications }}</option>"+
                        "{% endfor %}" +
                    "</select>" +
                    "</th>" +
                    "<th><input type=\"text\" class=\"form-control\" name=\"varieties\" placeholder=\"输入规格\"></th>" +
                    "<th><input type=\"text\" class=\"form-control\" name=\"single_price\" placeholder=\"输入单价\"></th>" +
                    "<th><input type=\"text\" class=\"form-control\" name=\"nums\" placeholder=\"输入数量\"></th>" +
                    "<th>" +
                    "<a href=\"#\" onclick=\"del(this)\" id=\"del\"><input type=\"button\" class=\"btn btn-warning\" value=\"删除\"></a>" +
                    "</th></tr>"
                $("#dynamicTable tbody").append(tableHtml);
            } else {
                alert("超出单次添加上限");
            }
        });
    });

    $("#btn_submit").click(function () {
        var formArr = $("form").serializeArray();
        var flange_model = [];
        var varieties = [];
        var single_price = [];
        var nums = [];
        $.each(formArr, function (i, item) {
            if (item.name == "flange_model") {
                flange_model.push(item.value);
            } else if (item.name == "varieties") {
                varieties.push(item.value);
            } else if (item.name == "single_price") {
                single_price.push(item.value);
            } else if (item.name == "nums") {
                nums.push(item.value);
            }
        })
        var body = {
            'ware_date': $('#ware_date').val(),
            'provider': $("#provider").val(),
            'flange_model': flange_model,
            'varieties': varieties,
            'single_price': single_price,
            'nums': nums
        };

        $.ajax({
            url: '/manage/add_ware',
            dataType: "text",
            data: JSON.stringify(body),
            type: "POST",
            traditional: true,
            async: true,
            processData: false,
            contentType: false,
            success: function (res) {
                console.log(body);
                window.location.href='/manage/ware'
            },
            error: function (error) {
                console.log(error)
                alert("创建失败:::" + JSON.stringify(body))
            }
        });
    });


    function del(obj) {
        var length = $("#dynamicTable tbody tr").length;
        console.log(length)
        if (length <= 2) {
            alert("最少保留一行！");
        } else {
            $(obj).parent().parent().remove();
        }
    }
</script>
</body>
</html>