<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加价目</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
</head>
<body>
{% if err_msg %}
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span>
        </button>
        <strong>{{ err_msg }}</strong>
    </div>
{% endif %}
<div class="container page-header">
    <h1 class="col-md-3 col-md-offset-5">添加价目</h1>
</div>
<form class="form-horizontal col-sm-10 col-sm-offset-3" action="/manage/add_price" method="post">
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">型号</label>
        <div class="col-sm-3">
            <select data-placeholder="选择项目..." class="form-control" name="flange_model" id="db_link"
                    required="required">
                <option value="">请选择型号</option>
                {% for item in flanges %}
                    <option>{{ item.flange_specifications }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">规格</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="flange_var" placeholder="请输入规格">
        </div>
    </div>

    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">单价</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="single_price" placeholder="请输入单价">
        </div>
    </div>

    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">库存</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="stock_nums" placeholder="请输入当前库存">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">添加</button>
        </div>
    </div>
</form>
</body>
</html>