<!DOCTYPE html>
<html lang="en">
<head {% load static %}>
    <meta charset="UTF-8">
    <title>价目表</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
          integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
</head>
<body>
{% if err_msg %}
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span>
        </button>
        <strong>请输入搜索内容！</strong>
    </div>
{% endif %}

<div class="container page-header">
    <a href="/manage/index" class="col-md-1"><img src="{% static 'img/index.png' %}" alt=""></a>
    <h1 class="col-md-3 col-md-offset-4">价目表</h1>
</div>

<div>
    <form class="form-inline col-md-8 col-md-offset-1" action="/manage/prices_search" method="get">
        <div class="form-group">
            {#            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>#}
            <div class="input-group">
                <input type="search" class="form-control" name="search_model" placeholder="搜索规格">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">搜索</button>
    </form>
    <div class="col-md-3">
        <a href="/manage/add_price">
            <button type="button" class="btn btn-primary">添加价目</button>
        </a>
    </div>
</div>
<div class="table-responsive col-md-10 col-md-offset-1" style="margin-top: 10px">
    <table class="table table-hover">
        <tr>
            <th>型号</th>
            <th>规格</th>
            <th>单价</th>
            <th>库存</th>
            <th>更新日期</th>
            <th>操作</th>
        </tr>
        {% for good in goods %}
            <tr>
                <td>{{ good.flange_specifications }}</td>
                <td>{{ good.flange_varieties }}</td>
                <td>{{ good.flange_single_price }}</td>
                <td>{{ good.stocks_nums }}</td>
                <td>{{ good.date }}</td>
                <td>
                    <button type="button" class="btn btn-warning"><a
                            href="/manage/jump_update_price/{{ good.flange_id }}">修改</a></button>
                    <button type="button" class="btn btn-danger"><a href="/manage/delete/{{ good.flange_id }}">删除</a>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>