<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改价目</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container page-header">
    <h1 class="col-md-3 col-md-offset-5">修改价目</h1>
</div>
<form class="form-horizontal col-sm-10 col-sm-offset-3" action="/manage/update_price" method="post">
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">型号</label>
        <div class="col-sm-3">
            {{ good.flange_specifications }}
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">规格</label>
        <div class="col-sm-3">
            {{ good.flange_varieties }}
        </div>
    </div>

    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">单价</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="single_price" placeholder={{ good.flange_single_price }}>
            <input type="text" class="form-control" name="flange_id" style="display: none" value={{ good.flange_id }}>
            <input type="text" class="form-control" name="history_price" style="display: none" value={{ good.flange_single_price }}>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">修改</button>
        </div>
    </div>
</form>
</body>
</html>